.bannerBackground {
    position: relative;
}

.bannerBackground img {
    width: 100%;
    opacity: .6;

    position: relative;
}

.bannerBackground::before {
    content: "";
    background: linear-gradient(to top, var(--color-background), transparent);
    width: 100%;
    height: 100px;

    position: absolute;
    bottom: 4px;
    z-index: 1;
}

.informationsContainer {
    display: flex;
    gap: 12px;
    margin: 0 1.8rem;
}

.sidebar {
    position: relative;
    margin: 0 1.8rem;

    top: 50%;
    transform: translateY(-50%);

    width: 195px;
    float: left;

    z-index: 2;
}


.images {
    position: relative;
}
#btnFavorite {
    display: none;
    margin: 3px;
    color: rgb(248, 88, 77);
    top: 0;
    right: 0;

    position: absolute;

    transition: .3s;
}

#capa {
    border-radius: 6px;
    width: 195px;
}

.images:hover #btnFavorite {
    display: block;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 6px;

    margin-top: 12px;
    padding: 0 6px;
}

.btns button {
    background-color: var(--color-roxo-300);
    color: #fff;
    border: none;
    border-radius: 6px;

    padding: 4px;


    cursor: pointer;
}

.btns button:hover {
    background-color: #9e75ffd3;
}

#addLista {
    background-color: transparent;
    color: var(--color-roxo-300);
}

#addLista:hover {
    background-color: var(--grey-color-100);
}


#btnFavorite:hover .material-symbols-outlined {
    font-variation-settings: "FILL" 1;
    
}

/* Infos */

#title {
    font-weight: 700;
    font-size: 28px;

    color: var(--grey-color);
}

.infos {
    width: 100%;
}

#description {
    text-align: justify;
}

/* ... */

.details {
    background-color: var(--grey-color-100);
    border-radius: 6px;

    padding: 12px;
    margin-top: 18px;
}

.details > div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 12px;
}

.details .title {
    font-weight: 700;
    font-size: 18px;
}

#situation {
    display: flex;
    flex-direction: row;
}

#situation div {
    display: flex;
    flex-direction: column;
}

#situation .subTitle {
    font-weight: 600;
}

#situation div .subTitle ~ span {
    font-size: 14px;
    font-weight: 200;

    opacity: .8;
}

.watch a {
    color: var(--color-roxo-300);
    text-decoration: none;
}

.ok {
    color: var(--color-green-300) !important;
}

.progress {
    color: var(--color-yellow-300) !important;
}

@media (max-width: 768px) {}