.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container div {
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    gap: 12px;

    background-color: var(--grey-color-100);
    border-radius: 7px;

    padding: .5rem .7rem;
    margin: 0 .3rem;
    margin-top: .4rem;
}

#btnSearch {
    display: flex;

    background: transparent;
    border: 0;

    color: var(--grey-color);

    cursor: pointer;
}

p {
    margin-top: 22px;
    font-size: 14px;
    color: var(--grey-color);
}
p a{
    color: var(--color-roxo-300);
    text-decoration: none;
}

.container input {
    width: 100%;
    min-height: 32px;
    font-size: 16px;

    color: #fff;
    
    border: 0;
    outline: 0;
    background: transparent;
}

.container input::placeholder {
    color: var(--grey-color);
}


